name: Build LXC Containers

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - 'tools/ci/lxc/**'
      - '.github/workflows/build-lxc-containers.yml'
  pull_request:
    branches: [ master ]
    paths:
      - 'tools/ci/lxc/**'
      - '.github/workflows/build-lxc-containers.yml'

jobs:
  build-lxc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Build and push LXC container
      run: |
        cd tools/ci/lxc
        docker build -t ghcr.io/${{ github.repository }}/lxc-base:latest .
        docker push ghcr.io/${{ github.repository }}/lxc-base:latest
